# .gitignore file for config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.png

# Ignore folders.
.storage
.cloud
.google.token

# Include folders
!automation
!group
!light
!scene
!scripts
!themes
!dashboard

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
automations.yaml
groups.yaml
intents.yaml
scripts.yaml
